<%= form_with(model: payment_method) do |form| %>
<% if payment_method.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% payment_method.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :method_id, 'Method ID', class: label_class %>
          <%= form.text_field :method_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :method_name, class: label_class %>
          <%= form.text_field :method_name, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if payment_method.persisted? %>
<%= link_to "Cancel", payment_method, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", payment_methods_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
