<div id="<%= dom_id movie %>">
  <p>
    <strong>Movie ID:</strong>
    <%= movie.movie_id %>
  </p>
  
  <p>
    <strong>Numerical order:</strong>
    <%= movie.numerical_order %>
  </p>

  <p>
    <strong>Movie name:</strong>
    <%= movie.movie_name %>
  </p>

  <p>
    <strong>Premiere:</strong>
    <%= movie.premiere %>
  </p>

  <p>
    <strong>Duration (in minutes):</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= movie.language %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= movie.category %>
  </p>

</div>
