<div id="<%= dom_id cinema_hall %>">
  <p>
    <strong>Cinema hall:</strong>
    <%= cinema_hall.cinema_hall_id %>
  </p>

  <p>
    <strong>Cinema hall name:</strong>
    <%= cinema_hall.cinema_hall_name %>
  </p>

  <p>
    <strong>Total seats:</strong>
    <%= cinema_hall.total_seats %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= cinema_hall.location_id %>
  </p>

</div>
