<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer ID:</strong>
    <%= customer.customer_id %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= customer.customer_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Mobile card:</strong>
    <%= customer.mobile_card %>
  </p>

  <p>
    <strong>Reward point:</strong>
    <%= customer.reward_point %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= customer.birth_date %>
  </p>

  <p>
    <strong>Customer type:</strong>
    <%= customer.customer_type %>
  </p>

</div>
