<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Customer</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to customers_path, class: button_class(theme: "transparent") do %>
      All Customers
      <% end %>
      <%= link_to edit_customer_path(@customer), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
      <%= link_to new_payment_method_path, class: button_class(theme: "transparent") + " ml-3" do %>
        Add New
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Customer:</p>
        <p><%= @customer.customer_id %></p>
      </li>
      <li>
        <p class="font-semibold">Customer name:</p>
        <p><%= @customer.customer_name %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @customer.phone %></p>
      </li>
      <li>
        <p class="font-semibold">Mobile card:</p>
        <p><%= @customer.mobile_card %></p>
      </li>
      <li>
        <p class="font-semibold">Reward point:</p>
        <p><%= @customer.reward_point %></p>
      </li>
      <li>
        <p class="font-semibold">Birth date:</p>
        <p><%= @customer.birth_date %></p>
      </li>
      <li>
        <p class="font-semibold">Customer type:</p>
        <p><%= @customer.customer_type %></p>
      </li>
  </ul>
</div>
