<div id="<%= dom_id ticket %>">
  <p>
    <strong>Ticket ID:</strong>
    <%= ticket.ticket_id %>
  </p>

  <p>
    <strong>Cinama hall:</strong>
    <%= ticket.cinema_hall_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= ticket.payment_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= ticket.movie_id %>
  </p>

  <p>
    <strong>Showtime:</strong>
    <%= ticket.showtime_id %>
  </p>

  <p>
    <strong>Cinema seat:</strong>
    <%= ticket.cinema_seat_id %>
  </p>

  <p>
    <strong>Seat type:</strong>
    <%= ticket.seat_type %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= ticket.payment_method_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= ticket.customer_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ticket.price %>
  </p>

</div>
