<div id="<%= dom_id cinema_seat %>">
  <p>
    <strong>Cinema seat ID:</strong>
    <%= cinema_seat.cinema_seat_id %>
  </p>

  <p>
    <strong>Cinema seat number:</strong>
    <%= cinema_seat.cinema_seat_number %>
  </p>

  <p>
    <strong>Seat type:</strong>
    <%= cinema_seat.seat_type %>
  </p>

  <p>
    <strong>Cinema hall:</strong>
    <%= cinema_seat.cinema_hall_id %>
  </p>

</div>
