<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment ID:</strong>
    <%= payment.payment_id %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= payment.total %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= payment.discount %>
  </p>

  <p>
    <strong>After discount:</strong>
    <%= payment.after_discount %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= payment.movie_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= payment.customer_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= payment.price %>
  </p>

</div>
