<%= form_with(model: showtime) do |form| %>
<% if showtime.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(showtime.errors.count, "error") %> prohibited this showtime from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% showtime.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :show_time_id, 'Show time ID', class: label_class %>
          <%= form.text_field :show_time_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :movie_id, class: label_class %>
          <%= form.collection_select :movie_id, Movie.all, :id, :movie_name, { prompt: 'Select Movie' }, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :show_time, class: label_class %>
          <%= form.time_field :show_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date_shown, class: label_class %>
          <%= form.date_field :date_shown, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :cinema_hall_id, class: label_class %>
          <%= form.collection_select :cinema_hall_id, CinemaHall.all, :id, :cinema_hall_name, { prompt: 'Select Cinema Hall' }, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if showtime.persisted? %>
<%= link_to "Cancel", showtime, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", showtimes_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
