<div id="<%= dom_id showtime %>">
  <p>
    <strong>Show time ID:</strong>
    <%= showtime.show_time_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= showtime.movie_id %>
  </p>

  <p>
    <strong>Show time:</strong>
    <%= showtime.show_time %>
  </p>

  <p>
    <strong>Date shown:</strong>
    <%= showtime.date_shown %>
  </p>

  <p>
    <strong>Cinema hall:</strong>
    <%= showtime.cinema_hall_id %>
  </p>

</div>
