<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Showtime</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to showtimes_path, class: button_class(theme: "transparent") do %>
      All Showtimes
      <% end %>
      <%= link_to edit_showtime_path(@showtime), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Show time ID:</p>
        <p><%= @showtime.show_time_id %></p>
      </li>
      <li>
        <p class="font-semibold">Movie:</p>
        <p><%= @showtime.movie %></p>
      </li>
      <li>
        <p class="font-semibold">Show time:</p>
        <p><%= @showtime.show_time %></p>
      </li>
      <li>
        <p class="font-semibold">Date shown:</p>
        <p><%= @showtime.date_shown %></p>
      </li>
      <li>
        <p class="font-semibold">Cinema hall:</p>
        <p><%= @showtime.cinema_hall %></p>
      </li>
  </ul>
</div>
