<div id="<%= dom_id location %>">
  <p>
    <strong>Location ID:</strong>
    <%= location.location_id %>
  </p>

  <p>
    <strong>Cinema name:</strong>
    <%= location.cinema_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= location.location %>
  </p>

  <p>
    <strong>Total cinema hall:</strong>
    <%= location.total_cinema_hall %>
  </p>

</div>
